
@font-face {
    font-family: 'Outfit';
    src: url('fonts/outfit-medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Outfit';
    src: url('fonts/outfit-semibold.ttf') format('truetype');
    font-weight: 600;
}

.activity-section {
    display: flex;
    height: 100vh;
    padding: 30px;
}

.activity-outer-box {
    display: flex;
    flex-direction: column;
    background-color: #F3F3F3;
    padding: 4em;
    border-radius: 30px;
    width: 100%;
}

.activity-page {
    table-layout: fixed;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.activity-outer-box h3 {
    font-family: 'Outfit', sans-serif;
    font-size: 36px;
    font-weight: 600;
    color: #46464B;
    padding: 20px 20px 20px 0px; 
}

.activity-table-box {
    padding: 10px;
    border-radius: 15px;
    background-color: #FFFFFF;
    margin-top: 20px;
    max-height: 400px;
    flex-grow: 1;
    display: flex;
    flex-direction: column; 
    overflow-y: auto; 
    overflow-x: hidden; 
}

.activity-table {
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 30px;
    display: block;
}

    .activity-table table {
        width: 100%; 
        border-collapse: collapse; 
    }

    .activity-table th:nth-child(1), .activity-table td:nth-child(1) {
        width: 30%; 
    }

    .activity-table th:nth-child(2), .activity-table td:nth-child(2) {
        width: 20%; 
    }

    .activity-table th:nth-child(3), .activity-table td:nth-child(3) {
        width: 15%;
    }

    .activity-table th:nth-child(4), .activity-table td:nth-child(4) {
        width: 20%; 
    }

    .activity-table th:nth-child(5), .activity-table td:nth-child(5) {
        width: 10%; 
    }

    .activity-table th {
        font-family: 'Outfit', sans-serif;
        font-size: 18px;
        font-weight: 500;
        color: #FDC755;
        text-align: left;
        padding: 12px 16px;
    }

    .activity-table thead tr {
        border-top: 2px solid #ACACAC;
        border-bottom: 2px solid #ACACAC;
    }

    .activity-table td {
        font-family: 'Outfit', sans-serif;
        color: #716B6B;
        font-size: 18px;
        font-weight: 500;
        text-align: left;
        padding: 12px 16px;
        white-space: nowrap; 
        overflow: hidden; 
        text-overflow: ellipsis; 
    }


