
.devices {
    display: flex;
    height: 100vh;
    padding: 30px;
}


.devices-outer-box {
    display: flex;
    flex-direction: column;
    background-color: #F3F3F3;
    padding: 4em;
    border-radius: 30px;
    width: 100%;
}


.devices-page {
    table-layout: fixed;
    display: flex;
    flex-direction: column;
}

.devices-outer-box h3 {
    font-family: 'Outfit', sans-serif;
    font-size: 36px;
    font-weight: 600;
    color: #46464B;
    padding: 20px 20px 20px 0px;
}

.devices-summary-row {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: space-between;
}

.devices-summary-box {
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 20px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
}

    .devices-summary-box h4 {
        font-family: 'Outfit', sans-serif;
        font-size: 24px;
        font-weight: 600;
        color: #46464B;
        margin: 0;
        padding: 0;
    }

    .devices-summary-box p {
        font-size: 60px;
        font-weight: 600;
        color: #46464B;
        margin: 0 15px;
    }

    .devices-summary-box img {
        width: 50px;
        height: 50px;
        object-fit: contain;
        margin: 0;
    }

.device-list-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #acacac;
    border-bottom: 2px solid #acacac;
    width: 100%;
}

    .container-header p {
        font-family: 'Outfit-Medium', sans-serif;
        font-size: 18px;
        color: #fdc755;
        margin: 0;
        padding: 15px 0px;
        text-align: center;
        flex-grow: 1; 
    }

.device-content-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    margin-top: 20px;
}

.content-container {
    display: flex;
    flex-direction: column;
    height: 28em;
    width: 100%;
    overflow-y: auto;
}

.list-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: 100%;
    border: solid 1px #acacac;
    border-radius: 15px;
    padding: 20px 0px;
    margin-top: 20px;
}
.contents-id, .contents-owner, .contents-dev, .contents-stat {
    text-transform: capitalize;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    flex-grow: 1; 
    padding: 5px; 
}

.list-box .contents-id {
    width: 10%; 
}

.list-box .contents-owner {
    width: 10%; 
}

.list-box .contents-dev {
    width: 20%; 
}

.list-box .contents-stat {
    width: 14%; 
}

.container-header p:nth-child(1) {
    width: 10%; 
}

.container-header p:nth-child(2) {
    width: 10%; 
}

.container-header p:nth-child(3) {
    width: 20%; 
}

.container-header p:nth-child(4) {
    width: 14%; 
}

.list-box p {
    font-family: 'Outfit-Medium', sans-serif;
    font-size: 18px;
    color: #716b6b;
    margin: 0;
    padding: 0 5px; 
}
