/* CSS for Users Page */

@font-face {
    font-family: 'Outfit-Medium';
    src: url('fonts/outfit-medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Outfit-SemiBold';
    src: url('fonts/outfit-semibold.ttf') format('truetype');
    font-weight: 600;
}

.user-section {
    display: flex;
    height: 100vh;
    padding: 30px;
}

/* Main Box */
.user-outer-box {
    display: flex;
    flex-direction: column;
    background-color: #f3f3f3;
    width: 100%;
    padding: 4em;
    border-radius: 30px;
}

/* Page layout container */
.user-page {
    display: flex;
    flex-direction: column;
}

/* Page title */
.user-outer-box h3 {
    font-family: 'Outfit', sans-serif;
    font-size: 36px;
    font-weight: 600;
    color: #46464B;
    padding: 20px 20px 20px 0px;
    margin: 0;
}

/* To align buttons and search bar */
.top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* Buttons */
.filter-options button {
    margin-right: 10px;
    padding: 10px 40px;
    background-color: transparent;
    color: #716B6B;
    border-radius: 35px;
    border: none;
    font-size: 20px;
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    cursor: pointer;
    transition: color 0.3s, border 0.3s;
}

    .filter-options button:hover {
        color: #ccc;
    }

    .filter-options button:focus {
        background-color: #FFFFFF;
        outline: none;
        border: 2px solid #ACACAC;
        color: #46464B;
    }

    .filter-options button:active {
        background-color: #FFFFFF;
        color: #46464B;
        border: 2px solid #ACACAC;
    }

/* Search bar */
.search-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    margin-left: 20px;
}

.search-bar {
    position: relative;
    width: 100%;
    max-width: 300px;
}

/* Search bar Icon */
.search-icon {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    pointer-events: none;
}

.search-bar input {
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #46464B;
    padding: 10px 10px 10px 40px; /* padding for icon */
    width: 100%;
    border-radius: 35px;
    border: 2px solid #ACACAC;
    box-sizing: border-box;
}

    .search-bar input:hover {
        border-color: #0056b3;
    }

.table-main-container {
    padding: 30px;
    background-color: #ffffff;
    border-radius: 15px;
}

/* Box for Table */
.user-table-box {
    padding: 0px;
    background-color: #FFFFFF;
    margin-top: 20px;
    max-height: 35em;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

/* Table style */
.user-table {
    background-color: #ffffff;
    border-radius: 8px;
    display: block;
}

table {
    width: 100%;
}

thead {
    top: 0;
    position: sticky;
    background-color: white;
    border-top: solid 2px #acacacac;
    border-bottom: solid 2px #acacacac;
}

    /* Header row style */
    .user-table th {
        font-family: 'Outfit', sans-serif;
        font-size: 20px;
        font-weight: 500;
        color: #FDC755;
        text-align: left;
        padding: 12px 16px;
        text-align: center;
    }


    /* Table data cell styling */
    .user-table td {
        font-family: 'Outfit', sans-serif;
        color: #716B6B;
        font-size: 18px;
        font-weight: 500;
        text-align: left;
        padding: 12px 16px;
        white-space: nowrap;
        overflow-x: auto;
        text-overflow: ellipsis;
        max-width: 100%;
        text-align: center;
    }

.delete-button {
    border-radius: 15px;
    color: #ffffff;
    background-color: #ff2400;
    border: transparent;
    font-family: 'Outfit-SemiBold', sans-serif;
    padding: 10px;
}
